/* YOUR STYLING HERE */
.center {
  text-align: center;
};

.callout {
   opacity: 0.5;
 }

 h1 {
   color: white;
   font-size: 60pt;
   font-weight: 500
 };

 h2 {
   color: black;
 };

 h5 {
   color: black;
   padding: 5px;
 };

 body {
   background-attachment: fixed;
   background-image: image-url("http://www.zryxsw.com/data/out/51/790270-library-wallpaper.png");
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
 };

  li {
    display:table;
    margin:0px auto;
  };


form {
  background-color: white;
  width: 90%;
  max-width: 700px;
  padding: 20px;
  margin: 0 auto;
  padding-top: 5px;
}
