<h1 class="green-text">Welcome to the coolest website evarrrr!</h1>
<h4>I would like this text to be centered.</h4>
<h4>Here are three things I would like to show you in a row:</h4>

<div class="row">
  <div class="sidebar small-3 columns callout secondary">
    <h3>I'm a sidebard</h3>
  </div>
</div>

<div class="row">
  <div class="columns medium-6 large-4">
    <div class="columns small-6 small-centered">
      <h6>Awesome Thing #1</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dignissim,
        mi in imperdiet dignissim, dolor neque posuere nisi, sit amet bibendum massa
        turpis quis tellus. Maecenas sit amet varius sapien. Vivamus lacus diam,
        luctus vitae ultricies sed, congue sit amet tellus.
      </p>
    </div>
  </div>

  <div class="columns large-4 medium-6">
    <h6>Awesome Thing #2</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dignissim,
      mi in imperdiet dignissim, dolor neque posuere nisi, sit amet bibendum massa
      turpis quis tellus. Maecenas sit amet varius sapien. Vivamus lacus diam,
      luctus vitae ultricies sed, congue sit amet tellus.
    </p>
  </div>

  <div class="columns large-4 medium-6 end">
    <h6>Awesome Thing #3</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dignissim,
      mi in imperdiet dignissim, dolor neque posuere nisi, sit amet bibendum massa
      turpis quis tellus. Maecenas sit amet varius sapien. Vivamus lacus diam,
      luctus vitae ultricies sed, congue sit amet tellus.
    </p>
  </div>
</div>
