.bluth {
  background-image: url("http://vignette2.wikia.nocookie.net/arresteddevelopment/images/a/ab/Arrested-development_(6).jpg/revision/latest?cb=20130521213519");
  background-repeat: no-repeat;
  background-size: 100% 10000%;
}
