body {
  margin: 0px;
  font-family: 'arial', 'san-serif';
  font-size: 14px;
  background-color: #242331;
  color: #191923;
}

.content {
    background-color: #6E0D25;
    margin: 10px auto;
    width: 1000px;
    padding-bottom: 14px;
}

.content span {
  margin-left: 14px;
}

.content p {
  margin: 14px 0px 0px 14px;
}

.header {
  background-color: #B59DA4;
  margin: 0px auto;
  width: 600px;
  text-align: center;
  padding: 20px 0px 20px 0px;
}

h1 {
  margin: 0px;
  font-size: 50px;
}

.content h2 {
  text-align: center;
  font-size: 30px;
  margin: 20px auto;
}

#greeting {
  font-weight: bold;
}
