<div class="text-center lead">
  <h1 id="pink-text">Lily's Favorite Brunch Places</h1>
  <div class="subheader">
    <h4>Homefries All the Time</h4>
    <h4>Brunch Food is the Best Food</h4>
  </div>
</div>

<div class="columns small-6 right" data-sticky-container>
  <div class="sticky" data-sticky data-anchor="foo">
    <!-- This sticky element would stick to the window for the height of the element #foo, with a 1em marginTop -->
  </div>
</div>

<div class="row">
  <div class="row text-center">
    <div class="callout secondary">
      <h3 id="doh">Top Six</h3>
    </div>
  </div>
</div>

<div class="row" id="main-content">
  <div class="columns small-12 medium-6 large-4">
    <div class="callout text-center" id="allston-diner">
      <h6>Allston Diner, Allston</h6>
      <img src="http://thephoenix.com/secure/uploadedImages/The_Phoenix/Food/On_The_Cheap/main_AllstonDiner_480.jpg" alt="Smiley face">
      <div class="text-center">
        <a href="#" class="button text-center">Learn more</a>
      </div>
    </div>
  </div>

  <div class="columns small-12 medium-6 large-4">
    <div class="callout text-center" id="masa">
      <h6>Masa Restaurant, South End</h6>

      <img src="https://ot-foodspotting-production.s3.amazonaws.com/reviews/5797625/thumb_600.jpg" alt="Smiley face">

      <div class="text-center">
        <a href="#" class="button text-center">Learn more</a>
      </div>
    </div>
  </div>

  <div class="columns small-12 medium-6 large-4">
    <div class="callout text-center" id="friendly-toast">
      <h6>Friendly Toast</h6>

      <img src="https://media-cdn.tripadvisor.com/media/photo-s/02/5f/4d/3c/classic-breakfast-at.jpg" alt="Smiley face" height="100" width="300">

      <div class="columns row text-center">
        <a href="#" class="button text-center">Learn more</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns small-12 medium-6 large-4">
    <div class="callout text-center" id="cafe-luna">
      <h6 id="cafe-luna-title">Cafe Luna, Cambridge<h6>

      <img src="http://cambridge.com/wp-content/uploads/2013/10/55164_10150102562532868_4946963_o.jpg" alt="Smiley face" height="800">

      <div class="text-center">
        <a href="#" class="button text-center">Learn more</a>
      </div>
    </div>
  </div>

  <div class="columns small-12 medium-6 large-4">
    <div class="callout text-center" id="rosebud">
      <h6>Rosebud Cafe, Somerville</h6>

      <img src="https://resizer.otstatic.com/v2/photos/large/23763839.jpg" alt="Smiley face" >

      <div class="text-center">
        <a href="#" class="button text-center">Learn more</a>
      </div>
    </div>
  </div>

  <div class="columns small-12 medium-6 large-4">
    <div class="callout text-center" id="zaftigs">
      <h6>Zaftigs, Brookline</h6>

      <img src="http://cdn1.bostonmagazine.com/wp-content/uploads/2014/12/brookline_25.jpg" alt="Smiley face" >

      <div class="text-center">
        <a href="#" class="button text-center">Learn more</a>
      </div>
    </div>
  </div>
</div>

<div class="columns small-3">
  <h4>Just OK Brunch Places</h4>
  <ul class="menu vertical resources">
    <li class="list-item" id="union">@Union, Allston</li>
    <li class="list-item" id="sound-bites">Sound Bites, Somerville</li>
    <li class="list-item" id="beehive">The Beehive, Boston</li>
  </ul>
</div>

<div class="row">
  <div class="columns small-6 small-centered">
    <h3 class="text-center">Add a Restaurant to Lily's Favorite Brunch List:</h3>
    <div class="row">
      <div class="small-12 columns">
        <label class="text-center">Restaurant Name
          <input id="restaurant-name" type="text" />
        </label>
      </div>
    </div>

    <div class="text-center">
      <input type="submit" value="Submit" class="button" id="restaurant-button">
    </div>
  </div>
</div>
