/* YOUR STYLING HERE */
body {
  background-color: $light-blue;
  color: $grey;
}
h1 {
  font-family: sans-serif;
  color: $blue;
}
h6 {
  font-weight: bold;
}
.question {
  border-bottom: 1px solid $grey;
  margin: 5px;
  padding: 5px;
}
.button-unselected {
  width: 1.5em;
  height: 1.5em;
  padding: 0em 0.3em;
  background-color: $black;
  color: white;
  font-weight: bold;
  text-align: center;
}
.button-selected {
  width: 1.5em;
  height: 1.5em;
  padding: 0em 0.3em;
  background-color: $green;
  color: white;
  font-weight: bold;
  text-align: center;
}
