.hidden{
  display: none
}

body{
  font-family: 'Baloo Thambi', cursive;
}

h1{
  color: #E11383;
  text-align: center;
}

h3{
  color: #F5821F;
  text-align: center;
}

.center {
  text-align: center;
  width: 100%;
}
