body * {
  margin: 0px;
  padding: 0px;
}

p {
  text-align: center;
}

.container-fluid * {
  margin: 0px;
  padding: 0px;
}

.container-fluid {
  background-color: #F5F5F5;
}

.row {
  height: 100%;
}

#pic {
  padding: 0px;
  margin-bottom: 0px;
  border: 0px;
}

#info {
  padding: 19px 19px, 0px, 19px;
  margin-bottom: 0px;
  height: 100%;
}

#actual-table td {
  width: 33%;
  padding: 10px;
  vertical-align: top;
}

#table_row:first-child {
  padding-left: 0px;
}

#title {
  font-size: 80px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  margin-bottom: 10px;
}

#subtitle {
  text-align: center;
  font-family: 'Prociono', serif;
  font-size: 40px;
  margin-bottom: 10px;
}

#description {
  text-align: justify;;
  font-family: 'Prociono', serif;
  margin: 10px;
}

#line {
  text-align: left;
  font-family: 'Prociono', serif;
  margin: 10px 10px 0px 10px;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}

@media screen and (max-width: 960px) {
  #title {
    font-size: 60px;
  }
  #subtitle {
    font-size: 28px;
  }
  p {
    font-size: 8px;
  }
  #line {
    font-size: 14px;
  }

}

@media screen and (max-width: 710px) {
  #title {
    font-size: 80px;
  }
  #subtitle {
    font-size: 40px;
  }

  #info {
    width: 100%;
  }

  #pic {
    width: 100%;
  }
  p {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  #title {
    font-size: 60px;
  }
  #subtitle {
    font-size: 28px;
  }
  p {
    font-size: 8px;
  }
  #line {
    font-size: 14px;
  }
}

@media screen and (max-width: 360px) {
  #title {
    font-size: 40px;
  }
  #subtitle {
    font-size: 18px;
  }
}
