<div class="row">
  <h2>FANTASTIC THOUGHTS AND WHERE TO FIND THEM</h2>
  <p><a href="#" id="new-thought">I wonder what nick is thinking...</a></p>
</div>

<img src="http://www.reactiongifs.com/wp-content/uploads/2013/10/tim-and-eric-mind-blown.gif" alt="Mind Blown" style="width:304px;height:228px;">

<div class="row">
  <p><a href="#" id="thing">Click me for a thing!</a></p>
</div>
